//
// Form
//

.form {
  max-width: 500px;
  margin: map-get($spacers, 5) auto;
  border: 1px solid gray('300');
  padding: map-get($spacers, 4);

  .form-group {
    position: relative;
    margin-bottom: map-get($spacers, 3);
    
    &-title {
      display: block;
      margin-bottom: map-get($spacers, 2);
    }

    &-feedback {
      display: none;
      font-size: $font-size-base * 0.7;
      color: theme-color('danger');
      margin-top: map-get($spacers, 1);
    }

    &.status {
      .form-group-feedback {
        display: block;
      }
    }

    .btn-detail {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &-btn {
    display: block;
    width: 100%;
    text-align: center;
  }

  &-link {
    margin-top: map-get($spacers, 2);

    .btn-link {
      display: block;
      font-size: $font-size-sm;
      padding: map-get($spacers, 1) 0;
    }
  }
}
