//
// Form
//

.form {
  max-width: 500px;
  margin: map-get($spacers, 5) auto;
  padding: map-get($spacers, 3) map-get($spacers, 4) map-get($spacers, 4);
  border: 1px solid gray('300');

  &.form-find {
    padding-bottom: map-get($spacers, 3);
  }

  .el-form-item__label {
    padding-bottom: 0;
  }

  .el-form-item {
    margin-bottom: map-get($spacers, 3);
    &:last-child {
      margin-bottom: 0;
    }
  }

  .el-date-editor {
    width: 100%;
  }

  .btn-block {
    display: block;
    width: 100%;
    margin-top: map-get($spacers, 2);
  }
  
  .el-select {
    width: 100%;
  }

  .relative-box {
    position: relative;

    .el-button {
      position: absolute;
      bottom: 5px;
      right: 0;
      &.btn-email-verify {
        bottom: -15px;
      }
    }

    .el-upload {
      .el-button {
        position: static;
      }
    }

    .el-upload__tip {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }

  .link-container {
    .link {
      display: block;
      color: gray('700');
      font-size: $font-size-base * 0.8;
      padding: map-get($spacers, 2);
      &:hover,
      &:focus {
        color: theme-color('primary');
      }
    }
  }

  .found {
    text-align: center;
    font-size: $font-size-sm;
    padding: map-get($spacers, 5) 0 map-get($spacers, 4);

    .value {
      display: block;
      padding: map-get($spacers, 4) 0;
      font-size: $font-size-base;
    }
  }
}

.signup-dialog {
  .el-dialog__body {
    padding-top: 0;
  }

  &-inner {
    padding: map-get($spacers, 3) 0;
    border-top: 1px solid gray('300');
    border-bottom: 1px solid gray('300');
    height: 300px;
    overflow-y: scroll;
  }
}
