//
// Common Form
//

.form {
  max-width: 550px;
  margin: 0 auto;
  padding: map-get($spacers, 5) 0;

  .el-form-item__label {
    padding-bottom: 0;
  }

  .el-form-item {
    margin-bottom: map-get($spacers, 3);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .el-date-editor {
    width: 100%;
  }

  .btn-block {
    display: block;
    width: 100%;
    margin-top: map-get($spacers, 2);
  }

  .link-box {
    .link {
      display: block;
      color: gray('700');
      font-size: $font-size-base * 0.8;
      padding: map-get($spacers, 2);

      &:hover,
      &:focus {
        color: theme-color('primary');
      }
    }
  }

  .relative-box {
    position: relative;

    .el-button {
      position: absolute;
      bottom: 5px;
      right: 0;
    }

    .el-upload {
      .el-button {
        position: static;
      }
    }

    .el-upload__tip {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
}
