//
// Select Box
//

.select-container {
  max-width: 500px;
  margin: 0 auto;
  padding: map-get($spacers, 5) 0;
  text-align: center;
  
  .select-link {
    display: block;
    color: gray('800');
    border: 1px solid gray('300');
    padding: map-get($spacers, 4) map-get($spacers, 2);

    &:last-child {
      margin-top: map-get($spacers, 3);
    }

    &:hover {
      border-color: theme-color('primary');
    }
  }

  .icon {
    font-size: $font-size-base * 2;
  }

  .title {
    font-size: $font-size-lg;
    padding: map-get($spacers, 3) 0 map-get($spacers, 2);
  }

  .text {
    font-size: $font-size-sm;
    word-break: break-word;
  }
}
