//
// Custom Mixins
//

// Clear

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// Text Truncate

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Text Hide

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Text Emphasis

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    &:hover {
      color: darken($color, 10%) !important;
    }
  }
}
